@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

:root {
  --primary-background: #f9fbff;
  --primary-text: #3d3d3d;
  --secondary-text: #5b74f3;
  --secondary-text-hover: #3048c1;
  --error: #cd7a7a;
  --success: #57d372;
  --anim-time: 300ms;
}

* {
  margin: 0;
  font-family: "Lexend", sans-serif;
}

body {
  margin: 0;
  padding: 2rem;
  background-color: var(--primary-background);
  color: var(--primary-text);
  letter-spacing: 0.05rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.material-symbols-rounded {
  color: var(--secondary-text);
}

.accented {
  color: var(--secondary-text);
}

.error {
  color: var(--error);
}

.success {
  color: var(--success);
}

.card {
  background-color: white;
  box-shadow: 0 0 0.5rem 0 rgb(0, 0, 0, 0.2);
  padding: 1.5rem;
  border-radius: 1rem;
}
